* {
  box-sizing: border-box;
}

.App {
  margin: 0px;
  text-align: center;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: rgb(65, 65, 65);
  padding-top: 10px;
}

h1 {
  color: white;
}

p {
  color: white;
}

.logo-container {
  max-width: fit-content;
  margin: 20px auto;
  background-color: rgb(214, 214, 214);
  padding: 50px;
  border-radius: 50%;
}

.crypto-logo {
  width: 150px;
  height: 150px;
  transition: filter 0.3s ease;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input[type="text"]:focus {
  border-color: #007bff;
}

.dropdown {
  list-style-type: none;
  padding: 0;
  margin: 10px auto;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.dropdown li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}

.selected-list {
  margin-top: 20px;
}

.selected-item {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
}

.selected-item.correct {
  background-color: #28a745; /* Verde */
}

.selected-item.incorrect {
  background-color: #dc3545; /* Rojo */
}

.dropdown li.highlighted {
  background-color: #d1e7ff; /* Azul claro */
}
